main {
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
  }
  

  
  .main__cards {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 12px 0;
  }
  
  .card {
    
    width: 40px;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    height: 0.5vh;
    padding: 25px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.10);
    
  }
  
 

  
  

  